#gradient { 
content: ''; 
position: fixed; 
display: block; 
top: 0; 
left: 0; 
right: auto; 
width: 100vw; 
height: 100vh; 
z-index: 0; 
-moz-pointer-events: none; 
-webkit-pointer-events: none; 
-ms-pointer-events: none; 

-moz-transform: scale(1); 
-webkit-transform: scale(1); 
-ms-transform: scale(1); 
transform: scale(1); 
background: #181818; /* Old Browsers */
background: -webkit-linear-gradient(bottom,#181818,#484848); /*Safari 5.1-6*/
background: -o-linear-gradient(bottom,#181818,#484848); /*Opera 11.1-12*/
background: -moz-linear-gradient(bottom,#181818,#484848); /*Fx 3.6-15*/
background: linear-gradient(to top, #181818, #484848); /*Standard*/
}