body
{
  
 font-family:monospace;
  background-color:#464646;
   padding: 0px;
   margin: 0px;
   margin-top: 0px;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 40pt;
  color: #FFFFF;
}
.dud {
  color: black;
}

.cnt
{
  background-color:#F6F4F4;
 border-style: outset;
 
  width:75%;
  border-radius:24px;
  border-width:5px;
 margin-left:160px;
 margin-right:50px;
}
.cnt2
{
  background-color:#EFEFEF;
  min-height:30%;
  width:90%;
  border-style:double;
  border-radius:10px;
  margin-bottom:30px;
}
.listt
{
  font-size:38pt;
  background-color:#E6E6E6;
  border:5px;
  min-width:55%;
  border-radius:10px;
  margin-bottom:10px;
  text-decoration:none
}
.prog
{
  width:85%;
  border-radius:10px;
  background-color:#FFFFFF;
  border:1px;
  border-style: ridge;
  border-color:#333;
  margin-bottom:15px;
}
